<footer class="mt-4  bg-dark text-light p-5">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div>
                        پریازدید ترین ها
                    </div>
                </div>
                <div class="col-4">
                    <div>پر بحث ترین ها</div>
                </div>
                <div class="col-4">
                    <div>
                        لینک های پرکاربرد
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>