{% extends 'base/base.html' %}
{% block title %}
    post archive
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for post in post_list %}
                    <div>
                        <div>{{ post.title }}</div>
                        <div>
                            {{ post.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-8">

            </div>
        </div>
    </div>

{% endblock %}